# Auto detect text files and perform LF normalization
* text=auto

# Java source files should always use LF
*.java text eol=lf
*.gradle text eol=lf
*.properties text eol=lf
*.json text eol=lf
*.xml text eol=lf